<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/com/mohiva/test/manitou/Bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false">
	
	<testsuites>
		<testsuite name="Mohiva Common test suite">
			<directory suffix="Test.php">./tests/com/mohiva/test/manitou</directory>
		</testsuite>
	</testsuites>
	
</phpunit>
